extends layout

block content
	.container
		.row
			.header.text-center
				span.fa.fa-cogs
				h1 SERVICE TRANSACTIONS
		.col-sm-12
			table.table.table-hover.table-responsive
				thead
					tr.info
						th
							span.fa.fa-user  
							|  Customer Name
						th 
							span.fa.fa-building
							|	Address
						th 
							span.fa.fa-building
							|	Service
						th 
							span.fa.fa-calendar
							|	Date Started
						th 
							span.fa.fa-calendar
							|	Time Started
						th 
							span.fa.fa-check
							|	Dated Ended
						th 
							span.fa.fa-check
							|	Time Ended
						th 
							span.fa.fa-calculator
							|	Total Service Cost
				tbody
					for trans_booking in hoList
						if trans_booking.payId != undefined
							tr
								td= trans_booking.name
								td= trans_booking.address
								td= trans_booking.servtype
								td= trans_booking.startdate
								td= trans_booking.starttime
								td= trans_booking.date_rendered
								td= trans_booking.time_rendered
								td= trans_booking.amount
			h2.text-right.totalAmount Total Amount
			for total_amount in hoList
				if 	total_amount >= 0	
					p.text-right.amount
						= total_amount


